parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    twitter.oauth_access_token        : 'footoken'
    twitter.oauth_access_token_secret : 'footoken'
    twitter.consumer_key              : 'fookey'
    twitter.consumer_secret           : 'foosecret'

    twitter.table : 'tweets'
